{% extends 'base.html.twig' %}

{% block title %}Page d'accueil de la librairie
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<h1>Page d'accueil de la librairie</h1>

		<div class="row">
			{% for livre in livres %}
				<div class="col-md-4 mb-4">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">{{ livre.titre }}</h5>
							<p class="card-text">
								<strong>Auteur:</strong>
								{{ livre.auteur }}</p>
							<p class="card-text">
								<strong>Disponibilité:</strong>
								{% if livre.disponible %}
									<span class="text-success">Disponible</span>
								{% else %}
									<span class="text-danger">Indisponible</span>
								{% endif %}
							</p>
							<a href="{{ path('livre.details', {'titre': livre.slug, 'id': livre.id}) }}" class="btn btn-primary">Voir en détail</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>

		<div class="pagination mt-4">
			{{ knp_pagination_render(livres, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig') }}
		</div>
	</div>
{% endblock %}
