body {
    background-color: skyblue;
}

h1 {
    text-align: center;
}

.example-wrapper {
    margin: 1em auto;
    max-width: 1200px;
    width: 95%;
    font: 18px / 1.5 sans-serif;
}

.livres-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.livre {
    background: #FFF;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.livre p {
    margin: 0.5em 0;
}

.pagination {
    text-align: center;
    margin-top: 1em;
}
