body {
    background-color: #f3f4f6;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    color: #2c3e50;
    margin-top: 1em;
}

.example-wrapper {
    margin: 2em auto;
    max-width: 1200px;
    width: 95%;
    font: 18px / 1.5 sans-serif;
    padding: 2em;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.livres-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.livre {
    background: #a5abee;
    color: #fff;
    padding: 1.5em;
    border-radius: 8px;
    border: 2px solid #293fb9;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s;
}

.livre:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.livre p {
    margin: 0.5em 0;
}

.livre a {
    display: inline-block;
    margin-top: 1em;
    padding: 0.5em 1em;
    color: #3498db;
    background-color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.livre a:hover {
    background-color: #2980b9;
    color: #fff;
}

.pagination {
    text-align: center;
    margin-top: 2em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}



@media (max-width: 768px) {
    .example-wrapper {
        padding: 1em;
    }

    .livres-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    h1 {
        font-size: 2em;
    }
}

@media (max-width: 480px) {
    .example-wrapper {
        padding: 0.5em;
    }

    .livres-grid {
        grid-template-columns: 1fr;
    }

    h1 {
        font-size: 1.5em;
    }

    .livre {
        padding: 1em;
    }
}
