/* public/css/styles.css */

.contenu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
    margin-top: 90px;
}

.connexion {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.connexion h1 {
    font-size: 24px;
    color: rgb(38, 50, 128);
    margin-bottom: 20px;
    text-align: center;
}

.login-form label {
    font-weight: bold;
    color: rgb(38, 50, 128);
    margin-bottom: 5px;
    display: block;
}

.login-form input[type="email"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.checkbox-label {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.btn-primary {
    background-color: rgb(38, 50, 128);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    display: block;
    text-align: center;
}

.btn-primary:hover {
    background-color: #0056b3;
}
